---
import BaseLayput from "../layouts/BaseLayput.astro";
---

<BaseLayput>
  <div class="main-visual-wrapper">
    <div class="main-visual-text">
      <div class="main-visual-text-inner">
        <h3>
          A Clean Home,<br />
          A Happy Life,<br />
          Let Us Handle the Dirty Work!
        </h3>
        <p>
          We develop innovative design solutions that enable our clients to
          enhance their competitive advantage.
        </p>
        <div class="main-visual-link">
          <a href="" class="main-visual-link-quote">Request A Quote</a>
          <a href="" class="main-visual-link-learn">Learn More</a>
        </div>
      </div>
    </div>
    <div class="main-visual-img">
      <img src="/images/home/main-visual.png" alt="Main Visual" />
    </div>
  </div>
  <div class="our-team-wrapper">
    <h2>Our Team</h2>
    <p class="our-team-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <div class="our-team-content-wrapper">
      <div class="our-team-content">
        <div class="our-team-content-img">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="/images/home/our-team-desktop/member1-pc.png"
            />
            <img
              src="/images/home/our-team-mobile/member1-sp.png"
              alt="Leslie Alexander"
            />
          </picture>
        </div>
        <div class="our-team-content-text">
          <p class="name">Leslie Alexander</p>
          <p class="text-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros elementum tristique.
          </p>
          <img src="/images/home/social-icons.png" alt="Social Icons" />
        </div>
      </div>
      <div class="our-team-content">
        <div class="our-team-content-img">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="/images/home/our-team-desktop/member2-pc.png"
            />
            <img
              src="/images/home/our-team-mobile/member2-sp.png"
              alt="Ralph Edwards"
            />
          </picture>
        </div>
        <div class="our-team-content-text">
          <p class="name">Ralph Edwards</p>
          <p class="text-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros elementum tristique.
          </p>
          <img src="/images/home/social-icons.png" alt="Social Icons" />
        </div>
      </div>
      <div class="our-team-content">
        <div class="our-team-content-img">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="/images/home/our-team-desktop/member3-pc.png"
            />
            <img
              src="/images/home/our-team-mobile/member3-sp.png"
              alt="Annette Black"
            />
          </picture>
        </div>
        <div class="our-team-content-text">
          <p class="name">Annette Black</p>
          <p class="text-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros elementum tristique.
          </p>
          <img src="/images/home/social-icons.png" alt="Social Icons" />
        </div>
      </div>
      <div class="our-team-content">
        <div class="our-team-content-img">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="/images/home/our-team-desktop/member4-pc.png"
            />
            <img
              src="/images/home/our-team-mobile/member4-sp.png"
              alt="Savannah Nguyen"
            />
          </picture>
        </div>
        <div class="our-team-content-text">
          <p class="name">Savannah Nguyen</p>
          <p class="text-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros elementum tristique.
          </p>
          <img src="/images/home/social-icons.png" alt="Social Icons" />
        </div>
      </div>
    </div>
  </div>
  <div class="subscribe-wrapper">
    <h2>Subscribe to our newsletter</h2>
    <p class="subscribe-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique.
    </p>
    <form id="subscribe-form">
      <input type="text" name="email" />
      <button type="submit">Sign Up</button>
    </form>
    <p class="subscribe-text-end">
      By clicking Sign Up you're confirming that you agree with our Terms and
      Conditions.
    </p>
  </div>
</BaseLayput>

<style>
  /* main visaul */
  .main-visual-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
  }

  .main-visual-text {
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .main-visual-text h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .main-visual-text p {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 24px;
  }

  .main-visual-link a {
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    padding: 12px 24px;
    gap: 8px;
  }

  .main-visual-link-quote {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
  }

  .main-visual-link-learn {
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
  }

  .main-visual-img {
    display: block;
    width: 100%;
  }

  .main-visual-img img {
    max-width: 100%;
  }

  /* our team */
  .our-team-wrapper {
    text-align: center;
  }

  .our-team-wrapper h2 {
    font-size: 48px;
    font-weight: 700;
  }

  .our-team-text {
    font-size: 18px;
  }

  .our-team-content-wrapper {
    display: flex;
    flex-direction: column;
  }

  .our-team-content {
    margin-top: 32px;
  }

  .our-team-content-img img {
    width: 100%;
  }

  /* .our-team-content-text{
    padding-bottom: ;
  } */
  .our-team-content-text .name {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
  }

  .text-content {
    width: 85%;
    margin: 0 auto 20px;
    font-size: 16px;
    line-height: 24px;
  }

  /* subscribe */
  .subscribe-wrapper {
    text-align: center;
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .subscribe-wrapper h2 {
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 24px;
  }

  .subscribe-text {
    font-size: 18px;
    line-height: 27px;
    max-width: 768px;
    margin: 0 auto 24px;
  }

  #subscribe-form {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
  }

  #subscribe-form input {
    width: 60%;
    padding: 12px 4px;
  }

  #subscribe-form button {
    margin-left: 8px;
    padding: 12px 24px;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
  }

  #subscribe-form button:hover {
    cursor: pointer;
  }

  .subscribe-text-end {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 640px) {
    /* main visual */
    .main-visual-wrapper {
      flex-direction: row;
    }

    .main-visual-text-inner {
      margin-left: 2.5rem;
      margin-right: 1.5rem;
    }
  }

  @media screen and (min-width: 768px) {
    /* our team */
    .our-team-content-wrapper {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .our-team-content {
      width: 50%;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 48px;
    }

    .our-team-content-img {
      width: 44%;
    }

    .our-team-content-text {
      width: 56%;
      text-align: left;
      padding-left: 1.5rem;
    }

    .text-content {
      margin-left: 0;
      margin-right: auto;
    }

    /* subscribe */
    #subscribe-form input {
      width: 70%;
    }
  }
</style>
